@{
    Layout = "../Shared/_LayoutWithMegaNav.cshtml";
    ViewBag.Title = "Test Integration Website";
}
<div id="my-website-content">
    <h1>Test Integration Website</h1>

    <p>Aenean quam dui, pharetra ac massa ac, viverra egestas quam. Vivamus laoreet scelerisque odio, eu euismod magna tincidunt in. Aliquam eu elit elementum tellus dapibus congue. Morbi metus urna, posuere eget rhoncus nec, commodo id lacus. Ut hendrerit dolor ut sollicitudin aliquet. Morbi nec porta sem, in posuere diam. Sed ultricies, dolor vulputate molestie dictum, urna sem congue lorem, tristique pulvinar urna eros sed leo.</p>

    <p>Etiam rutrum pretium ipsum, eu condimentum risus imperdiet in. Vivamus ultricies ipsum vel ligula sodales vehicula. Morbi pulvinar interdum tellus at ultricies. Duis dolor orci, cursus porttitor felis ut, bibendum porttitor metus. Praesent quis dolor tortor. Fusce quis commodo erat. Suspendisse pulvinar lectus nec tempor pharetra. Cras sit amet leo sit amet tortor vehicula vestibulum in at nibh. Sed vel nisi accumsan, ultricies nisl et, pellentesque lacus. Mauris non fringilla leo. Nam nec lacus ac massa hendrerit consequat mollis semper metus. Maecenas ornare varius sem et laoreet. Nunc imperdiet fringilla orci eu accumsan. Quisque accumsan, nibh nec cursus dapibus, justo ipsum lobortis metus, eu posuere nulla sem et velit. Aenean condimentum, libero quis euismod imperdiet, libero dui tincidunt velit, nec rutrum mauris arcu quis mi. Nam magna urna, dignissim id ornare fermentum, porttitor eget orci.</p>

    <p>Nunc vel facilisis ligula, nec lobortis sapien. In id velit a augue accumsan ornare. Aliquam erat volutpat. Phasellus sit amet auctor purus, imperdiet tincidunt mi. Nam vel ipsum elementum, facilisis ante id, aliquet tortor. Aenean id velit nec nibh sagittis gravida. Praesent porttitor turpis a ipsum pulvinar viverra vel eu mi. Fusce porta, ante in auctor egestas, neque nisi lobortis justo, ac pellentesque nibh turpis id arcu. Vivamus sit amet ante eget magna vehicula euismod et ac sapien. Nam vel erat lectus.</p>
</div>
