<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="ContentServiceUrl" value="http://veneerservice.devci.dev.parliament.uk/api/Content/" />
  <add key="MarkupServiceUrl" value="http://veneerservice.devci.dev.parliament.uk/api/Markup/" />
  <add key="StylesServiceUrl" value="http://veneerservice.devci.dev.parliament.uk/api/Styles/" />
  <add key="ScriptsServiceUrl" value="http://veneerservice.devci.dev.parliament.uk/api/Scripts/" />
  <add key="LocalCacheFolder" value="C:\\dev\\Veneer\\Client\\" />
</configuration>