<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="ContentServiceUrl" value="http://localhost:2222/api/Content/" />
  <add key="MarkupServiceUrl" value="http://localhost:2222/api/Markup/" />
  <add key="StylesServiceUrl" value="http://localhost:2222/api/Styles/" />
  <add key="ScriptsServiceUrl" value="http://localhost:2222/api/Scripts/" />
  <add key="LocalCacheFolder" value="C:\\dev\\Veneer\\Client\\" />
</configuration>